---
title: Downloads
layout: page
pageOrder: 4
---

h2 cujoJS Core

:markdown
  Starting a new project?
  Get going quickly with cujoJS [seed](https://github.com/cujojs/seed).

  seed provides a starter kit you can clone and start using immediatly.  No additional boilerplate required.

a.btn.btn-primary(href='https://github.com/cujojs/seed#readme') Get started with seed

h2 A la Carte

:markdown
  The most recent release of each cujoJS library is available here.
  You can either download an zip/tar archive of the release manually, or use a dependency management tool.
  [npm](https://npmjs.org/) is recommended for [node.js](http://nodejs.org/) deployments.
  [bower](http://bower.io/) is recommended for browser deployments.

div.row.auto-clear
  each project, name in getFileAtPath('./_private/projects.html.jade').toJSON().projects
    if project.releases && Object.keys(project.releases).length
      - var version = Object.keys(project.releases)[0]
      - var release = project.releases[version]
    else if project.latest
      - var version = ''
      - var release = project.latest
    div.span4.project(class='project-'+name)
      h3
        a(href=buildUrl('https://github.com/{org}/{project}', { org: project.org, project: name }), target='_blank')
          i.icon-cujojs(class='icon-' + name, style='color: #969ba2')
          | 
          = name
          | .js
        | 
        = version
      div.btn-group
        .btn(class=project.npm ? '' : 'disabled', data-toggle='.project-'+name+' .install-npm') npm
        .btn(class=project.bower ? '' : 'disabled', data-toggle='.project-'+name+' .install-bower') bower
        a.btn(href=buildUrl('https://github.com/{org}/{project}/tarball/{refspec}', { org: project.org, project: name, refspec: release.refspec }), target='_blank')
          | .tgz
        a.btn(href=buildUrl('https://github.com/{org}/{project}/zipball/{refspec}', { org: project.org, project: name, refspec: release.refspec }), target='_blank')
          | .zip
      p= project.tagline
      if project.npm
        .install-npm
          h4 via npm
          if version
            code npm install --save 
              = project.npm
              | @~
              = version
          else
            code npm install --save 
              = project.npm
              | @
              = buildUrl('https://github.com/{org}/{project}/tarball/{refspec}', { org: project.org, project: name, refspec: release.refspec })
      if project.bower
        .install-bower
          h4 via bower
          if version
            code "
              = project.bower
              | ": "~
              = version
              | "
          else
            code "
              = project.bower
              | ": ""
