---
layout: default
---

article.tutorial
  header
    h1= document.title

    aside.lesson-plan
      h4= getFile({ url: document.url.substring(0, document.url.lastIndexOf('/')) }).toJSON().title
        |  Outline
      nav.linklist
        ol
          each tutorial in getFiles({ url: { $startsWith: document.url.substring(0, document.url.lastIndexOf('/') + 1) } }, { order: 1 }).toJSON()
            li
              p
                if tutorial.url === document.url
                  = tutorial.title
                else
                  a(href=tutorial.url)= tutorial.title

  .post-content!= content

  hr
  footer
    div.published
      | Published: 
      span.date= formatDate(document.ctime)
      if document.ctime.getTime() < document.mtime.getTime()
        br
        | Modified: 
        span.date= formatDate(document.mtime)

    h3= getFile({ url: document.url.substring(0, document.url.lastIndexOf('/')) }).toJSON().title
      |  Outline
    nav.linklist
      ol
        each tutorial in getFiles({ url: { $startsWith: document.url.substring(0, document.url.lastIndexOf('/') + 1) } }, { order: 1 }).toJSON()
          li
            p
              if tutorial.url === document.url
                strong= tutorial.title
              else
                a(href=tutorial.url)= tutorial.title

    if document.tags && document.tags.length
      section#tags
        h3 Tags
        nav.linklist.tags
          ul
            each tag in document.tags.sort()
              li
                a(href=getTagUrl(tag) + '.html')= tag

  div.social-buttons
    != getGithubFollowButton()
    != getTwitterFollowButton()
    != getTwitterTweetButton()
    != getGooglePlusOneButton()
