---
layout: default
---

- var lessonPlan = getFile({ url: document.url.substring(0, document.url.lastIndexOf('/')) }).toJSON()

article.tutorial
  header
    h1= document.title

  .row
    .span4.pull-right.hide-print
      aside.lesson-plan
        h4= lessonPlan.title
          |  outline
        nav.linklist
          ol
            each tutorial in getFiles({ layout: 'tutorial', url: { $startsWith: lessonPlan.url } }, { order: 1 }).toJSON()
              li
                if tutorial.url === document.url
                  p
                    strong= tutorial.title
                  if document.tableOfContents && document.tableOfContents.length
                    ul
                      each item in document.tableOfContents
                        li
                          p
                            a(href='#' + item.id)= item.text
                else
                  p
                    a(href=tutorial.url)= tutorial.title
      div.report-issues.pull-right
        a(href= buildUrl('https://github.com/know-cujojs/know/issues/new', { labels: 'tutorial-feedback', title: 'Tutorial: ' + document.title }), target='_blank')
          i.icon-thumbs-down
          | Report an issue
      div.social-buttons
        != getTwitterTweetButton()
        != getGooglePlusOneButton()
    .span8
      .post-content!= content
      hr
      footer
        div.published
          | Published: 
          span.date= formatDate(document.ctime)
          if document.ctime.getTime() < document.mtime.getTime()
            br
            | Modified: 
            span.date= formatDate(document.mtime)
        div.report-issues.pull-right
          a(href= buildUrl('https://github.com/know-cujojs/know/issues/new', { labels: 'tutorial-feedback', title: 'Tutorial: ' + document.title }), target='_blank')
            i.icon-thumbs-down
            | Report an issue
        h3= lessonPlan.title
          |  outline
        nav.linklist
          ol
            each tutorial in getFiles({ layout: 'tutorial', url: { $startsWith: lessonPlan.url } }, { order: 1 }).toJSON()
              li
                p
                  a(href=tutorial.url)= tutorial.title
                if tutorial.url === document.url
                  if document.tableOfContents && document.tableOfContents.length
                    ul.hide-print
                      each item in document.tableOfContents
                        li
                          p
                            a(href='#' + item.id)= item.text
        if document.tags && document.tags.length
          section#tags
            h3 Tags
            nav.linklist.tags
              ul
                each tag in document.tags.sort()
                  li
                    a(href=getTagUrl(tag) + '.html')= tag
