---
layout: default
---

article.tutorial
  header
    h1= document.title
    p
      div
        | Published: 
        span.date= formatDate(document.ctime)
      if document.ctime.getTime() < document.mtime.getTime()
        div
          | Modified: 
          span.date= formatDate(document.mtime)
  .post-content!= content

footer
  if document.tags && document.tags.length
    section#tags
      h3 Tags
      nav.linkList
        each tag in document.tags
          li
            a(href=getTagUrl(tag) + '.html')= tag
  if document.relatedDocuments && document.relatedDocuments.length
    section#related
      h3 Related Links
      nav.linklist
        each doc in document.relatedDocuments
          li
            span= formatDate(doc.date)
            |  &raquo;&nbsp;
            a(href=doc.url)= doc.title
