---
layout: default
---


article.tutorial
  header
    h1= document.title

  .row
    .span3.pull-right.hide-print
      aside.lesson-plan
        h4= getFile({ url: document.url.substring(0, document.url.lastIndexOf('/')) }).toJSON().title
          |  Outline
        nav.linklist
          ol
            each tutorial in getFiles({ url: { $startsWith: document.url.substring(0, document.url.lastIndexOf('/') + 1) } }, { order: 1 }).toJSON()
              li
                if tutorial.url === document.url
                  p
                    strong= tutorial.title
                  if document.tableOfContents && document.tableOfContents.length
                    ul
                      each item in document.tableOfContents
                        li
                          p
                            a(href='#' + item.id)= item.text
                else
                  p
                    a(href=tutorial.url)= tutorial.title
      div.social-buttons
        != getGithubFollowButton()
        != getTwitterFollowButton()
        != getTwitterTweetButton()
        != getGooglePlusOneButton()
    .span9
      .post-content!= content
      hr
      footer
        div.published
          | Published: 
          span.date= formatDate(document.ctime)
          if document.ctime.getTime() < document.mtime.getTime()
            br
            | Modified: 
            span.date= formatDate(document.mtime)
        h3= getFile({ url: document.url.substring(0, document.url.lastIndexOf('/')) }).toJSON().title
          |  Outline
        nav.linklist
          ol
            each tutorial in getFiles({ url: { $startsWith: document.url.substring(0, document.url.lastIndexOf('/') + 1) } }, { order: 1 }).toJSON()
              li
                p
                  a(href=tutorial.url)= tutorial.title
                if tutorial.url === document.url
                  if document.tableOfContents && document.tableOfContents.length
                    ul.hide-print
                      each item in document.tableOfContents
                        li
                          p
                            a(href='#' + item.id)= item.text
        if document.tags && document.tags.length
          section#tags
            h3 Tags
            nav.linklist.tags
              ul
                each tag in document.tags.sort()
                  li
                    a(href=getTagUrl(tag) + '.html')= tag
